body {
    font-family: sans-serif;
    font-size: 14pt;
    margin: 0;
}

#content {
    max-width: 770px;
    margin: 1em auto;
}

#plebian-navigation-block {
    background-color: #c70036;
    display: flex;
    list-style: none;
    text-indent: 0;
    margin-left: 0px;
    margin-top: 0px;
    padding: 0;
    width: 100%;
    height: 50px;
}

#plebian-navigation {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    height: 100%;
}

#plebian-navigation li {
    display: flex;
    list-style: none;
    margin: 0;
    align-items: center;
    height: 100%;
}

.plebian-navigation-item-active {
    background-color: #a80030;
}

#plebian-navigation li a {
    align-items: center;
    text-decoration:none;
    color: white;
    font-weight: bold;
    height: 100%;
    display: flex;
    padding: 0 10px 0 10px;
}

#plebian-navigation li a:visited {
    color: white;
    font-weight: bold;
}

.plebian-command {
    width: 100%;
    white-space: nowrap;
    overflow-y: scroll;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    background-color: black;
    color: white;
}

.plebian-box-container {
    display: flex;
    flex-wrap: wrap;
}

.plebian-box {
    animation: 0.5s ease-out 0s 1 fadein;
    flex: 240px;
    margin: 10px;
    padding: 10px;
    background-color: rgba(247, 247, 247, 255);
}

.plebian-box h2 {
    margin-top: 0;
}

.plebian-box-link {
    text-decoration: none;
}

.plebian-box-link::after {
    content: '\2192';
}

@keyframes fadein {
    from {
        opacity: 0.0;
    }
    to {
        opacity: 1.0;
    }
}
