{% extends "base.html" %}
{% block content %}
<h1>About Plebian</h1>

<h2>Introduction</h2>

<p>
Plebian stands for "PINE Live Debian", and was born out of a perceived need for
an as-vanilla-as-possible Debian image for the PINE64 Quartz64 line of single
board computers and compute modules.
</p>
<p>
The images are based on Debian Bookworm's kernel package, meaning you'll get
timely security updates directly from Debian even years in the future.
</p>
<p>
The "Live" part of the name refers to there not being an installer. All you have
to do to install the image onto your board is to flash it. Your data on it will
be persistent.
</p>
<p>
We're not a project claiming to support every SBC under the sun, instead we're
laser-focused on PINE64's offerings and know the boards in-and-out.
</p>

<h2>Who We Are</h2>

<p>
The lead developer behind Plebian is Nicolas Frattaroli, who has been active in
bringing drivers and device trees for the Quartz64 devices to mainline Linux.
</p>
<p>
Many contributions were also made by Diederik de Haas, who is experienced with
Debian's contribution process and has been a long time contributor to Debian.
</p>
<p>
Aside from receiving occasional donations, we're completely independent,
allowing us to honestly and plainly point out hardware problems when they do
exist.
</p>

<h2>Why Choose Plebian</h2>

<p>
Plebian sets the bar for Quartz64 OS images. We actively work on our own u-boot
tree for the boards and contribute to the mainline Linux kernel. We don't just
repackage other people's work, we do the work. Our image generation is automated
and publicly documented; we're not a hand-crafted one-off image hosted on some
forum.
</p>

<h2>Acknowledgements</h2>

<p>
We'd like to thank PINE64 for supporting the project with hardware donations.
</p>
<p>
Additionally, we'd like to thank Oratek for supporting the project with a
hardware donation of a <a href="https://tofu.oratek.com/#/">TOFU board</a>.
</p>
<p>
We'd also like to extend our thanks to the generous GitHub Sponsors supporters
of Plebian's developers.
</p>
<p>
Last but not least, we would like to thank Peter Geis for his amazing work on
the board bring-up for these boards in mainline Linux.
</p>
{% endblock %}
