{% extends "base.html" %}
{% block content %}
<h1>Flashing Instructions For Linux</h1>
<p>
Getting your {{ board_name }} up and running is easy! Just follow these steps
and pay close attention to the instructions.
</p>
<h2>Downloading The Image</h2>
<p>
Head on over to <a href="https://github.com/Plebian-Linux/quartz64-images/releases/latest">
the releases page for the latest release</a> and download
<strong>{{ image_name }}</strong> from the "Assets" section.
</p>
<h2>Flashing</h2>
<p>
Insert your target medium (either an SD card or an eMMC module with an eMMC
adapter) into your computer. Run <code>lsblk</code> to figure out which device
node under /dev/ it is. This page will refer to it as <var>/dev/sdX</var> from
now on. Make sure the device is <em>not</em> mounted!
</p>
<p>
Next, on the terminal, paste the command <br>
<code class="plebian-command">
xzcat {{ image_name }} | sudo dd of=<var>/dev/sdX</var> bs=16M oflag=dsync status=progress
</code><br>
replacing <var>/dev/sdX</var> with your target block device's name.
</p>
<p>
As soon as the command completes, your storage medium is ready to be used.
</p>
<h2>Next Steps</h2>
<p>
For information on your next steps, please consult <a href="https://github.com/Plebian-Linux/quartz64-images/blob/main/RUNNING.md">
the RUNNING.md</a> in Plebian's quartz64-images repository. It'll tell you the
default login details and give you some hints regarding specific aspects of the
board and software stack.
</p>
{% endblock %}
