<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% if page.title %}{{ page.title }} - {% endif %}Plebian Linux</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ base_url }}plebian.css" type="text/css">
    </head>
    <body>
        <header>
            <nav id="plebian-navigation-block">
                <div id="plebian-logo">
                    <a href="{{ base_url }}">
                        <img src="{{ base_url }}img/plebian-logo-white.svg" alt="logo">
                    </a>
                </div>
                <ul id="plebian-navigation">
                {%- for item in navigation.entries %}
                    {% if page.target == item.target -%}
                    <li class="plebian-navigation-item plebian-navigation-item-active"><a href="{{ item.target }}">{{ item.label }}</a></li>
                    {%- else -%}
                    <li class="plebian-navigation-item"><a href="{{ item.target }}">{{ item.label }}</a></li>
                    {%- endif %}
                {%- endfor %}
                </ul>
            </nav>
        </header>
        <main id="content">
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            <div id="plebian-footer">
                <p>
                    Copyright &#169; {{ year }} Plebian Contributors
                </p>
                <p>
                    The text on this page is licensed under the
                    <a href="https://github.com/Plebian-Linux/plebian-website/blob/main/LICENSE_FDL">
                        GNU Free Documentation License Version 1.3</a>.
                </p>
            </div>
        </footer>
    </body>
</html>
