{% extends "base.html" %}
{% block content %}
<h1>Flashing Instructions For Windows</h1>
<p>
Getting your {{ board_name }} up and running is easy! Just follow these steps
and pay close attention to the instructions.
</p>
<h2>Downloading The Image</h2>
<p>
Head on over to <a href="https://github.com/Plebian-Linux/quartz64-images/releases/latest">
the releases page for the latest release</a> and download
<strong>{{ image_name }}</strong> from the "Assets" section.
</p>
<h2>Flashing</h2>
<p>
The first step is to download a disk image flashing utility such as
<a href="https://github.com/pbatard/rufus/releases/latest">Rufus</a>, which
will allow you to unpack and flash the compressed disk image to your target
storage device in a single operation.
</p>
<figure>
    <img src="/img/rufus.png" alt="Screenshot of the Rufus interface">
    <figcaption>A screenshot of the Rufus application.</figcaption>
</figure>
<p>
In Rufus, choose the right device for your SD or eMMC adapter, then click on
"Select" to choose <strong>{{ image_name }}</strong> from where you have
downloaded it. Leave the other options at their default, they do not matter for
this process. Hit the "START" button when you are ready to flash the image. This
will take a while to complete, but Rufus will give you a progress indicator.
</p>
<p>
Once the image writing is complete, you're good to go. Connect your target
medium to your {{ board_name }}.
</p>
<h2>Next Steps</h2>
<p>
For information on your next steps, please consult <a href="https://github.com/Plebian-Linux/quartz64-images/blob/main/RUNNING.md">
the RUNNING.md</a> in Plebian's quartz64-images repository. It'll tell you the
default login details and give you some hints regarding specific aspects of the
board and software stack.
</p>
{% endblock %}
