{% extends "base.html" %}
{% block content %}
<h1>Using Plebian</h1>
<div class="plebian-box-container">
    <div class="plebian-box">
        <h2>First Boot</h2>
        <p>
            So you've installed Plebian. What now? Learn all about how to plug
            in your board and get up and running.
        </p>
        <p>
            <a class="plebian-box-link" href="{{ base_url }}running/first-boot/">Get started</a>
        </p>
    </div>
    <div class="plebian-box">
        <h2>Software Choices</h2>
        <p>
            To get the most out of your board, you'll want to be using the right
            software.
        </p>
        <p>
            <a class="plebian-box-link" href="{{ base_url }}running/software-choices/">Learn all about it</a>
        </p>
    </div>
    <div class="plebian-box">
        <h2>Updating</h2>
        <p>
            It's important to keep your system up to date.
        </p>
        <p>
            <a class="plebian-box-link" href="{{ base_url }}running/updating/">Find out how</a>
        </p>
    </div>
    <div class="plebian-box">
        <h2>Device Tree Overlays</h2>
        <p>
            Want to modify your device tree with overlays? Plebian can help.
        </p>
        <p>
            <a class="plebian-box-link" href="{{ base_url }}running/dt-overlays/">Read more</a>
        </p>
    </div>
</div>
{% endblock %}
